In [255]:
print ('Welcome to the real world')

Welcome to the real world

In [256]:
'Shift + Enter'

'Shift + Enter'

In [257]:
1

1

In [258]:
1232324 * 2232

2750547168

In [259]:
4 / 5

0.8

In [260]:
# COMMENT: Power is represented by double asterisk

In [261]:
3 ** 4

81

In [262]:
son_of_god = 'superman'

In [263]:
son_of_god.upper()

'SUPERMAN'

# DC Comics & Super Heroes

In [264]:
diana = 'Wonder Woman'

In [265]:
print ('I am Diana, the ' + diana)

I am Diana, the Wonder Woman

In [266]:
pow = 20

In [267]:
pow = pow + pow

In [268]:
pow

40

In [269]:
name = 'Bruce Wayne' 
age = 32
terror = 'Bats'

In [270]:
print ('I am {}, aged {} and I fear {}'.format(name, age, terror))

I am Bruce Wayne, aged 32 and I fear Bats

In [271]:
print ('I am {id}, aged {age} and I fear {fear}'.format(id=name, age=age, fear=terror))

I am Bruce Wayne, aged 32 and I fear Bats

#### Strings

In [272]:
s = 'Superman'

In [273]:
s[0]

'S'

In [274]:
s[5]

'm'

In [275]:
s[0:]

'Superman'

In [276]:
s[0:5]

'Super'

In [277]:
s[5:]

'man'

In [278]:
s[:3]

'Sup'

In [279]:
s[:-3]

'Super'

In [280]:
s[-3:]

'man'

#### Lists

In [281]:
justice_league = ['Batman', 'Superman', 'Wonder Woman', 'Cyborg', 'Flash', 'Aquaman']

In [282]:
justice_league[3]

'Cyborg'

In [283]:
justice_league = [['Batman','Bat-mobile'], 'Superman', ['Wonder Woman', ['whip', 'shield']], 'Cyborg', 'Flash', 'Aquaman']

In [284]:
justice_league[2]

['Wonder Woman', ['whip', 'shield']]

In [285]:
justice_league[2][1]

['whip', 'shield']

In [286]:
justice_league[2][1][0]

'whip'

In [287]:
justice_league.append('Green Lantern')

In [288]:
justice_league[-1]

'Green Lantern'

In [289]:
justice_league[-1] = ['Green Lantern', 'Ring']

In [290]:
justice_league[-1][1]

'Ring'

#### Tuples

In [291]:
fibo = (1, 2, 3, 5, 8, 13, 21)

In [292]:
fibo[4]

8

In [293]:
# Tuple is immutable

#### Dictionaries

In [294]:
jl_dict = {'batman': {'name': 'Bruce Wayne', 'pow':2}, 'superman': ['Clark Kent', 'Man of Steel'], 'wonderwoman': 'Diana Prince'}

In [295]:
jl_dict['batman']

{'name': 'Bruce Wayne', 'pow': 2}

In [296]:
jl_dict['superman'][1]

'Man of Steel'

#### Sets (Unique List)

In [297]:
{'bat', 'aqua', 'bat', 'cyborg', 'bat', 'bat', 'aqua'}

{'aqua', 'bat', 'cyborg'}

### Operators

In [298]:
True

True

In [299]:
(1 > 0) and True and (len('whip') == 4)

True

In [300]:
one = 1
two = 2
three = False

In [301]:
(two == 1) or (one != 2)

True

In [302]:
if (three):
    print ('Three')
else:
    print ('None')

None

In [303]:
if (three):
    print ('Three')
elif (two):
    print ('Two')
elif (one):
    print ('One')
else:
    print ('None')

Two

#### Looping and iterating

In [304]:
fibo = [1,2,3,5,8,13,21]

In [305]:
for f_num in fibo:
    print (f_num)

1
2
3
5
8
13
21

In [306]:
i = 1
while i<5:
    print ("Num : {}".format(i))
    i += 1

Num : 1
Num : 2
Num : 3
Num : 4

In [307]:
list(range(2,5))

[2, 3, 4]

In [308]:
for i in range(2,5):
    print (i)

2
3
4

In [309]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [310]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [311]:
pow = [1,2,3,4,5]

In [312]:
upgrade = []
for x in pow:
    upgrade.append(x ** 3)

In [313]:
upgrade

[1, 8, 27, 64, 125]

In [314]:
# List Comprehension (Most common operation)

In [315]:
upg = [x ** 3 for x in pow]

In [316]:
upg

[1, 8, 27, 64, 125]

In [317]:
# Functions

In [318]:
def fight(weapon='knife'):
    print ("Fighting with weapon: " + weapon)

In [319]:
fight('whip')

Fighting with weapon: whip

In [320]:
fight()

Fighting with weapon: knife

In [321]:
fight # without paranthesis gives out the object

In [322]:
def double(x):
    """
    Doubles a numeric value 
    :param x numeric value to be doubled
    """
    return 2 * x

In [323]:
double(3.9)

7.8

In [324]:
pow

[1, 2, 3, 4, 5]

In [325]:
# Double my power?

In [326]:
map(double, pow)

In [327]:
list(map(double, pow))

[2, 4, 6, 8, 10]

In [328]:
# Double or Triple, I need to do other things?

In [329]:
# Lambda functions (Anonymous functions)

In [330]:
def power5(x): return x ** 5

In [331]:
list(map(power5, pow))

[1, 32, 243, 1024, 3125]

In [332]:
# Transforming to Lambda
lambda x: x**5

In [333]:
list(map(lambda x: x**3, pow))

[1, 8, 27, 64, 125]

In [334]:
list(filter(lambda x: x%2 == 0, pow))

[2, 4]

#### Operations

In [335]:
alfred = "Why do we fall, son? #wordsofwisdom #batman #batmanbegins"

In [336]:
alfred.upper()

'WHY DO WE FALL, SON? #WORDSOFWISDOM #BATMAN #BATMANBEGINS'

In [337]:
alfred.upper().split()

['WHY',
 'DO',
 'WE',
 'FALL,',
 'SON?',
 '#WORDSOFWISDOM',
 '#BATMAN',
 '#BATMANBEGINS']

In [338]:
alfred.upper().split('#')

['WHY DO WE FALL, SON? ', 'WORDSOFWISDOM ', 'BATMAN ', 'BATMANBEGINS']

In [339]:
alfred.upper().split('#')[1:]

['WORDSOFWISDOM ', 'BATMAN ', 'BATMANBEGINS']

In [340]:
alfred.upper().count('#', )

3

In [341]:
# Use Case: Log Analysis. ERROR, INFO, DEBUG, TIME FORMAT ..

In [342]:
jl_dict

{'batman': {'name': 'Bruce Wayne', 'pow': 2},
 'superman': ['Clark Kent', 'Man of Steel'],
 'wonderwoman': 'Diana Prince'}

In [369]:
jl_dict.keys()

dict_keys(['wonderwoman', 'batman', 'superman'])

In [370]:
jl_dict.items()

dict_items([('wonderwoman', 'Diana Prince'), ('batman', {'pow': 2, 'name': 'Bruce Wayne'}), ('superman', ['Clark Kent', 'Man of Steel'])])

In [371]:
jl_dict.values()

dict_values(['Diana Prince', {'pow': 2, 'name': 'Bruce Wayne'}, ['Clark Kent', 'Man of Steel']])

In [372]:
myd = jl_dict.copy()

In [373]:
last_hero = myd.popitem()

In [374]:
jl_dict

{'batman': {'name': 'Bruce Wayne', 'pow': 2},
 'superman': ['Clark Kent', 'Man of Steel'],
 'wonderwoman': 'Diana Prince'}

In [375]:
last_hero

('wonderwoman', 'Diana Prince')

In [376]:
bat_man = myd.pop('batman')

In [378]:
print (bat_man)

{'pow': 2, 'name': 'Bruce Wayne'}

In [379]:
# Checks

In [380]:
'batman' in myd

False

In [381]:
'batman' in jl_dict

True

In [382]:
# Tuple Unpacking

In [385]:
jl = [('B', 'Bruce'), ('S', 'Clark'), ('W', 'Diana')]

In [387]:
for hero in jl:
    print (hero)

('B', 'Bruce')
('S', 'Clark')
('W', 'Diana')

In [389]:
for (sym, name) in jl:
    print (name)

Bruce
Clark
Diana